.App {
  text-align: center;
}

.logo {
  max-width: 130px;
}
.logo img {
  width: 100%;
}
.form-wrap {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
}
.form-wrap .row {
  padding: 15px 0;
}
.form-wrap .row .col {
  width: 100%;
  margin: 0 auto;
  max-width: calc(100% - 20px);
}

.form-wrap .row .col .btn {
  width: 100%;
}
